* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(bg.jpg);
    /* background-image: url(bgimages/hooh.jpg); */
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slide 40s infinite;
}

.container {
    width: 400px;
    min-height: 400px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 40px 30px;
}

.container .login-text {
    color: #111;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 20px;
    display: block;
    text-transform: capitalize;
}

.container .login-email .input-group {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
}

.container .login-email .input-group input {
    width: 100%;
    height: 100%;
    border: 2px solid #e7e7e7;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 30px;
    background: transparent;
    outline: none;
    transition: 0.3s;
}

.container .login-email .input-group input:focus,
.container .login-email .input-group input:valid {
    border-color: #ee5858;
}

.container .login-email .input-group .btn {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background: #ee5858;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.container .login-email .input-group .btn:hover {
    transform: translateY(-5px);
    background: #d33131;
}

.login-register-text {
    color: #111;
    font-weight: 600;
}

.login-register-text a {
    text-decoration: none;
    color: #ee5858;
}

.error {
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
}

@media (max-width: 430px) {
    .container {
        width: 300px;
    }
    .container .login-social {
        display: block;
    }
    .container .login-social a {
        display: block;
    }
}

@keyframes slide {
    0% {
        background-image: url(bgimages/deoxys.jpg);
    }
    10% {
        background-image: url(bgimages/hooh.jpg);
    }
    20% {
        background-image: url(bgimages/lugia.jpg);
    }
    30% {
        background-image: url(bgimages/metagross.jpg);
    }
    40% {
        background-image: url(bgimages/milotic.jpg);
    }
    50% {
        background-image: url(bgimages/plateau.jpg);
    }
    60% {
        background-image: url(bgimages/regigigas.jpg);
    }
    70% {
        background-image: url(bgimages/pikachu.jpg);
    }
    90% {
        background-image: url(bgimages/volcarona.jpg);
    }
    100% {
        background-image: url(bgimages/travisissorry.jpg);
    }
}